.highlight {
    background-color : #FFFF88;
}

/* Custom styling */
body {
    font-size   : 12px !important;
    line-height : 15px !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size : 12px !important;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height : 15px;
    text-transform: uppercase;
}

.email {
    text-transform: lowercase !important;
}

select, input[type="file"] {
    height : 25px;
}

.ui-widget {
    font-size   : 12px !important;
    line-height : 15px !important;
}

.table th {
    text-align : center;
}

.navbar {
    margin-bottom : 10px;
}

.mandatory {
    color       : #b62f29;
    font-weight : bold;
}

.ui-datepicker-calendar {
    font-size   : 12px;
    line-height : 12px;
}

.datepicker {
    background : url(../images/calendar.png) right no-repeat !important;
}

fieldset.borde {
    border : 1px solid #999;
}

fieldset.borde legend {
    width  : auto;
    border : none;
}

.navigation {
    margin-left : 0;
}

/***************************** TABLAS **********************************/
th.sortable a {
    background-position : right;
    background-repeat   : no-repeat;
    padding-right       : 1.1em;
}

th.asc a {
    background-image : url(../images/skin/sorted_asc.gif) !important;
}

th.desc a {
    background-image : url(../images/skin/sorted_desc.gif) !important;
}

/******************************* MODALS ***************************************/
.modal.grande {
    width       : 1000px;
    max-height  : 600px;
    margin-left : -500px; /* - width/2 */
}